*.pyc
.DS_Store
__pycache__
*.vtu

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Sphinx documentation
_build/
!_templates/*
